.cart-popup {
  position: relative;
}

.cart-popup__wrapper {
  position: absolute;
  top: 70px;
  left: -300px;
  width: 350px;
  padding: 12px;
  padding-right: 5px;
  border-radius: var(--border-radius);
  border: 1px solid var(--gray4);
  background-color: var(--dark2);
  transform-origin: top right;
}

.cart-popup__arrow {
  position: absolute;
  top: -8px;
  right: 13px;
  width: 14px;
  height: 8px;
  background-image: url('/img/popup-arrow.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.cart-popup__close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--gray7) !important;
  transition: background-color 0.2s ease-in-out;
  background-image: url('/img/close-small.svg');
  background-repeat: no-repeat;
  background-position: center center;

  &:hover {
    background-color: var(--purple) !important;
    transition: background-color 0.2s ease-in-out;
  }
}

.cart-popup__title {
  margin: 0;
  padding-bottom: 16px;
  margin-bottom: 12px;
  color: var(--white2);
  font-weight: 700;
  border-bottom: #565c66 1px solid;
}

.cart-popup__cart-list {
  max-height: 200px;
  padding-right: 7px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--purple);
    border-radius: 3px;

    &:hover {
      background-color: var(--purple2);
    }
  }
}

.cart-popup__cart-list__empty-cart {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: self-end;
  padding-left: 20px;
  justify-content: center;
  background-image: url('/img/empty-cart.svg');
  background-repeat: no-repeat;
  background-position: center center;
  color: var(--white);
  font-size: 1.125em;
}

.cart-list__item {
  position: relative;
  display: flex;
  align-items: stretch;
  margin-bottom: 12px;
}

.cart-list__item__delete {
  position: absolute;
  right: 0;
  top: 0;
  height: 24px;
  width: 24px;

  span {
    &::before {
      background-color: var(--gray2);
      content: '';
      height: 100%;
      width: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transition: background-color 0.2s ease-in-out;
      mask: url('/img/trash.svg') no-repeat 50% 50%;
    }
  }

  &:hover {
    span {
      &::before {
        transition: background-color 0.2s ease-in-out;
        background-color: var(--red);
      }
    }
  }
}

.cart-list__item__img {
  width: 96px;
  margin-right: 13px;
  background: radial-gradient(
      52.53% 52.53% at 50% 47.47%,
      #4e5d77 0%,
      rgb(42 50 63 / 0%) 100%
    ),
    #2a323f;

  img {
    object-fit: contain;
  }
}

.cart-list__item__title {
  color: var(--white);
  font-size: 16px;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
  width: max-content;
  display: flex;
  align-items: center;

  span {
    &:first-child {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 140px;
      margin-right: 3px;
    }
  }

  &:hover {
    color: var(--purple);
    transition: color 0.2s ease-in-out;
  }
}

.cart-list__item__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-list__item__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-list__item__counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 106px;
  border-radius: 16px;
  background: #333a47;
  padding: 4px 6px;

  button {
    width: 24px;
    height: 24px;
    position: relative;

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: var(--white3);
      transition: background-color 0.2s ease-in-out;
    }

    &:first-child {
      &::before {
        mask: url('/img/minus.svg') no-repeat 50% 50%;
      }
    }

    &:last-child {
      &::before {
        mask: url('/img/plus.svg') no-repeat 50% 50%;
      }
    }
  }

  span {
    color: rgb(255 255 255 / 90%);
    font-size: 14px;
  }
}

.cart-list__item__price {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
}

.cart-popup__footer {
  border-top: #565c66 1px solid;
  padding-top: 12px;
}

.cart-popup__footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;

  span {
    &:first-child {
      color: var(--white);
      font-size: 1em;
    }

    &:last-child {
      color: var(--white);
      font-size: 1em;
      font-weight: 500;
    }
  }
}

.cart-popup__footer__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--white3);
  font-size: 0.875em;
  font-weight: 500;
  border-radius: 24px;
  background-color: var(--purple);
  height: 32px;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--purple2);
    transition: background-color 0.2s ease-in-out;
  }
}

.cart-popup__footer__link--disabled {
  pointer-events: none;
  opacity: 0.5;
}
