:root {
  --gray: hsl(219deg 6% 49%);
  --gray2: #a5a8ad;
  --gray3: #777c85;
  --gray4: #333a47;
  --gray5: rgb(255 255 255 / 40%);
  --gray6: #16181b;
  --gray7: rgb(255 255 255 / 6%);
  --gray8: #3d4555;
  --dark-blue: #1d2533;
  --dark-blue2: #101828;
  --white: #e8e9ea;
  --white2: rgb(255 255 255 / 90%);
  --white3: #fff;
  --purple: #9466ff;
  --purple2: #70f;
  --purple3: #330867;
  --purple4: #240648;
  --green: #16d9a6;
  --lime: #30cfd0;
  --blue: #4075ff;
}

@font-face {
  font-family: Unbounded-Light;
  src: url('../../public/fonts/Unbounded-Light.woff2');
  line-height: normal;
}

@font-face {
  font-family: Unbounded-Regular;
  src: url('../../public/fonts/Unbounded-Regular.woff2');
  line-height: normal;
}

@font-face {
  font-family: Unbounded-Medium;
  src: url('../../public/fonts/Unbounded-Medium.woff2');
  line-height: normal;
}

@font-face {
  font-family: Unbounded-Bold;
  src: url('../../public/fonts/Unbounded-Bold.woff2');
  line-height: normal;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #1d2533;
  color: #e8e9ea;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Unbounded-Regular, sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1535px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn-reset {
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header__search-overlay {
  background: var(--gray6);
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: -1;
}

.header__search-overlay.overlay-active {
  opacity: 0.6;
  visibility: visible;
  z-index: 101;
}

.overflow-hidden {
  overflow-y: hidden;
  padding-right: 8px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.swiper-slide-shadow-coverflow {
  background-image: none !important;
}

.swiper-slide-active .hero-slide-plus {
  display: block;
  position: absolute;
  cursor: pointer;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #70f;
  left: 125px;
  top: 45%;
  background-image: url('/img/plus-big.svg');
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.2);
  }
}

@media (width <= 1460px) {
  .swiper-slide-active .hero-slide-plus {
    left: 105px;
  }
}

@media (width <= 990px) {
  .swiper-slide-active .hero-slide-plus {
    left: 75px;
  }
}

@media (width <= 760px) {
  .swiper-slide-active .hero-slide-plus {
    top: 6%;
    left: 195px;
  }
}

.swiper-slide-active .slide-popup {
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out;
}
