.mobile-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  background-color: var(--background);
  outline: 1px solid var(--gray4);
  backdrop-filter: blur(20px);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 100;

  @media (width <= 450px) {
    font-size: 0.7em;
  }
}

.mobile-navbar__btn {
  min-width: max-content;
  height: 52px;
  position: relative;
  display: flex;
  align-items: end;
  text-decoration: none;
  color: var(--white);
  font-size: 0.875em;
  background-repeat: no-repeat;
  background-position: top 5px center;

  &:first-child {
    background-image: url('/img/home.svg');
  }

  &:nth-child(2) {
    background-image: url('/img/catalog.svg');
  }

  &:nth-child(3) {
    background-image: url('/img/favorites.svg');
  }

  &:nth-child(4) {
    background-image: url('/img/cart.svg');
  }

  &:last-child {
    background-image: url('/img/more.svg');
  }

  @media (width <= 450px) {
    height: 47px;
  }
}

@media (width <= 450px) {
  .mobile-navbar {
    padding: 5px 15px;
  }
}
