.product_subtitle {
  &__subtitle {
    position: relative;
    display: inline-block;

    @media (width <= 715px) {
      margin-bottom: 25px;
    }

    @media (width <= 490px) {
      margin-bottom: 45px;
    }

    @media (width <= 380px) {
      margin-bottom: 30px;
    }

    &__rect {
      position: absolute;
      bottom: -27px;
      right: 0;
      width: 45px;
      height: 27px;
      background-image: url('/img/subtitle-rect.svg');
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  &__subtitle span {
    display: inline-block;
    background-color: var(--white);
    color: var(--dark-blue);
    font-size: 3.75em;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px 10px 0 0;

    @media (width <= 940px) {
      font-size: 3em;
      padding-left: 10px;
      padding-right: 10px;
    }

    @media (width <= 475px) {
      font-size: 2.625em;
    }

    @media (width <= 380px) {
      line-height: 32px;
      font-size: 2em;
    }
  }

  &__subtitle span:first-child {
    padding-top: 4px;

    @media (width <= 940px) {
      padding-top: 0;
    }
  }

  &__subtitle span:last-child {
    border-radius: 0 10px;
    padding-bottom: 8px;

    @media (width <= 940px) {
      padding-bottom: 0;
    }
  }
}
