.list {
  &__item {
    min-height: 453px;
    position: relative;
    padding: 16px;
    transition:
      background-color 0.2s ease-in-out,
      box-shadow 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--border-radius);
    cursor: pointer;

    @media (width <= 800px) {
      background-color: var(--dark);
      box-shadow:
        0 12px 20px 0 rgb(0 0 0 / 20%),
        0 0 20px 0 rgb(0 0 0 / 10%);
    }

    @media (width <= 590px) {
      padding-bottom: 75px;
      min-height: 490px;
    }

    &__label {
      position: absolute;
      top: 16px;
      left: 16px;
      color: var(--white3);
      font-size: 0.875em;
      font-weight: 500;
      padding: 0 8px;
    }

    &__new {
      background-color: var(--orange);
    }

    &__bestseller {
      background-color: var(--green);
    }

    &__actions {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 16px;
      right: 16px;
      display: flex;
      flex-direction: column;
      transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out;
      z-index: 1;

      @media (width <= 800px) {
        opacity: 1;
        visibility: visible;
      }
    }

    &__img {
      margin: auto;
      display: block;

      img {
        max-height: 332px;
        max-width: 352px;
        margin: 0 auto;
        background: radial-gradient(
          52.53% 52.53% at 50% 47.47%,
          var(--gray4) 0%,
          rgb(29 37 51 / 0%) 100%
        );
        transition: background 0.2s ease-in-out;
        object-fit: contain;
      }
    }

    &__inner {
      align-self: flex-start;
    }

    &__title {
      margin: 0;
      margin-bottom: 4px;

      a {
        color: var(--gray2);
        font-weight: 700;
        text-decoration: none;
      }
    }

    &__price {
      color: var(--white);
      font-size: 1.4em;
      font-weight: 500;
    }

    &__cart {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      bottom: 16px;
      right: 16px;
      color: var(--white3);
      font-weight: 500;
      border-radius: 32px;
      background-color: var(--purple);
      padding: 10px !important;
      transition:
        background-color 0.2s ease-in-out,
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out;

      @media (width <= 800px) {
        opacity: 1;
        visibility: visible;
      }

      @media (width <= 590px) {
        left: 16px;
      }

      &:hover {
        background-color: var(--purple2);
        transition: background-color 0.2s ease-in-out;
      }

      &_added {
        opacity: 1;
        visibility: visible;
        background-color: var(--green) !important;
        pointer-events: none !important;
        cursor: none !important;

        &:hover {
          background-color: var(--green);
        }
      }

      &:disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }

    &:hover {
      background-color: var(--background);
      box-shadow:
        0 12px 20px 0 rgb(0 0 0 / 20%),
        0 0 20px 0 rgb(0 0 0 / 10%);
      transition:
        background-color 0.2s ease-in-out,
        box-shadow 0.2s ease-in-out;
    }

    &:hover &__actions,
    &:hover &__cart {
      opacity: 1;
      visibility: visible;
      transition:
        background-color 0.2s ease-in-out,
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out;
    }

    &:hover &__img img {
      transition: background 0.2s ease-in-out;
      background: radial-gradient(
        52.53% 52.53% at 50% 47.47%,
        var(--gray10) 0%,
        rgb(42 50 63 / 0%) 100%
      );
    }
  }

  &__item_ad {
    min-height: 453px;
    position: relative;
    padding: 16px;
    transition: box-shadow 0.2s ease-in-out;
    display: block;
    background: radial-gradient(
        112.11% 111.8% at 100% 0%,
        var(--blue) 0%,
        rgb(64 117 255 / 0%) 100%
      ),
      radial-gradient(
        111.72% 111.46% at 27% 0%,
        var(--green) 0%,
        rgb(22 217 166 / 0%) 100%
      ),
      var(--purple);

    &__inner {
      text-decoration: none;
    }

    &__ad {
      top: 16px !important;
      right: 16px !important;

      @media (width <= 590px) {
        height: 24px !important;
        line-height: 22px !important;
      }
    }

    &__subtitle {
      width: max-content;
      margin-bottom: 20px;

      &__top {
        padding-top: 5px;

        @media (width <= 590px) {
          padding-top: 2px;
        }
      }

      span {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 2.25em;
        line-height: 36px;

        @media (width <= 590px) {
          font-size: 1.625em;
          line-height: 26px;
        }
      }
    }

    &__subtitle__rect {
      bottom: -15px;
      width: 25px;
      height: 15px;
      background-size: 25px 15px;
    }

    &__img {
      width: 224px;
      height: 255px;
      margin: 0 auto;
      text-align: center;

      @media (width <= 590px) {
        width: 160px;
        height: 196px;
      }

      @media (width <= 590px) {
        width: 200px;
        height: 250px;
      }

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &__title {
      margin: 0;
      margin-top: auto;
      color: var(--white);
      font-size: 1.125em;
      font-weight: 700;

      @media (width <= 590px) {
        position: absolute;
        bottom: 16px;
        left: 16px;
      }

      span {
        display: block;

        &:first-child {
          margin-bottom: 15px;

          @media (width <= 590px) {
            font-size: 0.875em;
            margin-bottom: 10px;
          }
        }

        &:last-child {
          font-size: 3.5em;
          line-height: 45px;

          @media (width <= 590px) {
            font-size: 2.875em;
          }
        }
      }
    }

    &:hover {
      box-shadow:
        0 12px 20px 0 rgb(0 0 0 / 20%),
        0 0 20px 0 rgb(0 0 0 / 10%);
      transition: box-shadow 0.2s ease-in-out;
    }
  }
}

.product {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  font-size: 0.75em;

  @media (width <= 590px) {
    margin-bottom: 16px;
  }

  &__stock {
    margin-right: 16px;
    padding-left: 8px;
    font-size: 0.75em;
    background-repeat: no-repeat;
    background-position: left center;

    &__green {
      color: var(--green2);
      background-image: url('/img/green-ellipse.svg');
    }

    &__red {
      color: var(--red);
      background-image: url('/img/red-ellipse.svg');
    }
  }

  &__code {
    color: var(--gray2);
    font-size: 0.75em;
  }

  &__color,
  &__composition {
    display: block;
    margin-bottom: 24px;
    color: var(--white);
    font-size: 0.875em;
  }

  &__size_title {
    color: var(--white);
    font-size: 0.875em;
    margin-bottom: 12px;
  }

  &__count_title {
    display: block;
    margin-bottom: 12px;
    color: var(--white);
    font-size: 0.875em;

    @media (width <= 450px) {
      text-align: center;
    }
  }
}
